<h1><%=@wine.name%></h1>
<h3>Added by <%=@wine.user.username%></h3>
<br>
<img src="<%= @wine.img %>" >
<br>
<br>
<div><%= @wine.content%></div>
<br>
<br>
<h2>Reviews</h2>
<br>
<% @wine.reviews.each do |r| %>
  <h3><strong>Review by <%= r.user.username %></strong>(<%= r.updated_at.strftime("%m/%d/%Y") %>)</h3> 
  <p><strong>Rating:</strong> <%= r.rating %></p>
  <p><%= r.notes %></p>

<% end %>



<br>
<br>
<%= link_to "Add a Review", new_wine_review_path(@wine) %>

<p><%= link_to 'See All Reviews', wine_reviews_path(@wine) %></p>

<% if @wine.user == current_user %>
<h4><%= link_to "Edit Wine", edit_wine_path(@wine)%></h4>
<h4><%= link_to 'Remove Wine', @wine, method: :delete %></h4>

<% end %>

