<h1><%=@wine.name%></h1>
<h3>Added by <%=@wine.user.username%></h3>
<br>
<img src="<%= @wine.img %>" >
<br>
<br>
<h3>Category: <%= @wine.category.try(:name)%></h3>
<br>
<h4>Description: </h4><%= @wine.content%>
<br>
<br>
<br>
<h2>Reviews</h2>
(<%= link_to "Add a Review", new_wine_review_path(@wine) %>)
<br>
<br>
<% @wine.reviews.each do |r| %>
  <h3><strong>Review by <%= r.user.username %></strong> (<%= r.updated_at.strftime("%m/%d/%Y") %>)</h3> 
  <p><strong>Rating:</strong> <%= r.rating %></p>
  <p>"<%= r.notes %>"</p>
  <% if r.user == current_user %>
  <%= link_to "Edit Review", edit_review_path(r)%> | <%= link_to "Delete Review", r, method: :delete%>
  <% end %>
  <% end %>

<br>
<br>
<br>


<% if @wine.user == current_user %>
<h4><%= link_to "Edit Wine", edit_wine_path(@wine)%></h4>
<h4><%= link_to 'Remove Wine', @wine, method: :delete %></h4>


<% end %>



